/*

    main.css | YDITS Site

    (c) よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

:root {
    --header-height: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #202020ff;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

a.link-button {
    display: inline-block;
    padding: 1em 1.5em;
    border-radius: 2em;
    background-color: #404040ff;
    color: #ffffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: all .5s;
    user-select: none;
}

a.link-button:hover {
    background-color: #f0f0f0ff;
    color: #202020ff;
    cursor: pointer;
}

a.link-button>.wrapper {
    display: flex;
    align-items: center;
}

a.link-inline {
    color: #40b080ff;
    text-decoration: none;
    cursor: pointer;
}

a.link-inline:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--header-height);

    box-shadow: #f0f0f0f0 0 0 6px 6px;

    background-color: #202020ff;
    color: #ffffff;

    user-select: none;
}

header>.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    max-width: 1024px;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 1em;
    height: 100%;

    padding: 0 1em;
    color: #010101;
    text-decoration: none;
}

header .logo:hover {
    background-color: #ffffff60;
}

header .logo>img {
    height: 2em;
    border-radius: .2em;
}

header .btn_link {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: none;
    align-items: center;
    justify-content: center;

    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;

    /* background-color: #e0e0ff; */
    background-color: #ffffffff;
    box-shadow: #80808080 0px 0px 2px 2px;

    z-index: 2;
    cursor: pointer;
    user-select: none;
}

header .btn_link span {
    display: none;
    font-size: 2em;
    color: #010101;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 1em;
    height: 100%;
}

header nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

header nav>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 1em;

    height: 80%;
    width: 8em;
    border-radius: .5em;
}

header nav>ul>li:hover {
    background-color: #ffffff60;
}

header nav>ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: #ffffffff;
    text-decoration: none;
}

footer {
    background-color: #202020ff;
    color: #ffffffff;
    user-select: none;
}

footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

footer .logo {
    padding: 2em 0;
    text-align: center;
}

footer .logo>img {
    height: 6em;
    margin-bottom: 1em;
}

#lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;

    background-color: #303030ff;
}

#lang>span {
    margin-top: .1em;
    margin-right: .3em;
}

#langSelect {
    border: #808080ff solid 2px;
}

@media (max-width: 768px) {
    header .btn_link {
        display: flex;
    }

    header .btn_link span.active {
        display: block;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 100%;

        width: 100vw;

        overflow: auto;
        background-color: #101010;
        z-index: 1;

        transition: all .3s;
    }

    header nav.active {
        left: 0%;
        display: flex;
    }

    header nav>ul {
        flex-direction: column;
        align-items: center;
        margin-top: 7em;
    }

    header nav>ul>li {
        margin-bottom: 2em;
        width: 80%;
        height: 3em;

        background-color: #ffffff;
    }

    header nav>ul>li:hover {
        background-color: #80808080;
    }

    footer .logo>img {
        height: 4em;
    }

}